body {
  font-family: 'Arial', sans-serif;
}

.calculator {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Affichage numérique */
.display {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  background-color: #1c1c1c;
  color: white;
  border-radius: 1rem;
  padding-right: 1rem;
  height: 6rem; 
  font-size: 3rem; 
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem; 
  border-radius: 0.5rem; 
  transition: transform 0.1s, background-color 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-gray {
  background-color: #a5a5a5;
  color: black;
}

.btn-dark {
  background-color: #333333;
  color: white;
}

.btn-orange {
  background-color: #f39c12;
  color: white;
}

.col-span-2 {
  grid-column: span 2; /*Étend le bouton sur 2 colonnes*/
  text-align: center;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
